
h1 {color:#b9deda;
    margin:auto;
    width: 60%;}

.name {color:#e4b0ac}

.price {color:#c1c1c1;}

.center {
    margin: auto;
    width:60%;
    padding: 10px;
}

table {width: 100%}
.left {width: 70%;
        text-align: left;}
.right {width: 30%}

#flashMessages{color: white;}

.deleteItemButton, .redButton {
    width: 60px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.deleteItemButton:hover,.redButton:hover {
	background-color:#e4685d;
}
.deleteItemButton:active,.redButton:active {
	position:relative;
	top:1px;
}

.editItemButton {
    width: 60px;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.editItemButton:hover {
	background-color:#0061a7;
}
.editItemButton:active {
	position:relative;
	top:1px;
}


.deleteItemSmallButton {
    width: 40px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.deleteItemSmallButton:hover {
	background-color:#e4685d;
}

.deleteItemSmallButton:active {
	position:relative;
	top:1px;
}

.editItemSmallButton {
    width: 40px;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.editItemSmallButton:hover {
	background-color:#0061a7;
}
.editItemSmallButton:active {
	position:relative;
	top:1px;
}

.fa-trash {
	color:#fc8d83;
}
.fa-trash:hover {
	color:#e4685d;
}
.fa-trash:active {
	position:relative;
	top:1px;
}

.fa-pencil-square-o {
	color:#007dc1;
}
.fa-pencil-square-o:hover {
	color:#0061a7;
}
.fa-pencil-square-o:active {
	position:relative;
	top:1px;
}

.navbarLink {
	cursor: pointer;
	cursor: hand;
}

.InLineEdit {
    background-color: #b9deda;
}

.EditingPrice {
	width: 30px;
}

.newRestaurantForm input {
    text-align: left;
    width: 160px;
}