<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="487962395938-f923dbtpisv3oq7tivlvu4127g1jlh9m.apps.googleusercontent.com">
    <title>Catalog App</title>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="//apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="../static/semantic/dist/semantic.min.js?v={{time.time()}}"></script>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css?v={{time.time()}}">
    <script type="text/javascript" src="../static/javascript/preload.bundle.js?v={{time.time()}}"></script>
</head>
<body>
    <div id="root" data-state={{STATE}}>
    </div>
</body>
</html>