<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit menu item</title>
</head>
<body>
    <form method='POST' enctype="multipart/form-data" action="{{url_for('editMenuItem',restaurant_id=restaurant.id,menu_id=item.id)}}">
        <h2>Edit menu item:</h2>
        Name: <input name="name" type="text" placeholder="{{item.name}}"><br>
        Description: <input name="description" type="text" placeholder="{{item.description}}"><br>
        Price: <input name="price" type="text" placeholder="{{item.price}}"><br>
        Course: <input name="course" type="text" placeholder="{{item.course}}"><br>
        <input type="Submit" placeholder="Update"><br>
        <a href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">Cancel</a>
    </form>
</body>
</html>