<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{restaurant.name}}</h1>
    {% for i in items %}
        <div>
        <p>{{i.name}}<br>
        {{i.description}}<br>
        &#36;{{i.price}}<br>
        <a href="{{url_for('editMenuItem',restaurant_id=restaurant.id, menu_id=i.id)}}">Edit</a><br>
        <a href="{{url_for('deleteMenuItem',restaurant_id=restaurant.id, menu_id=i.id)}}">Delete</a><br>
        </p>
        </div>
    {% endfor %}
</body>
</html>