
h1 {color:#b9deda;
    margin:auto;
    width: 60%;}

.name {color:#e4b0ac}

.price

{color:#c1c1c1;}

.center {
    margin: auto;
    width:60%;
    padding: 10px;
}

.left {width: 70%}
.right {width: 30%}